services:
  - type: web
    name: bookfinder-backend
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn bookfinder_backend.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*"
